<main class="bg-white">
    <div class="row no-gutters">
        <section class="bg-seamless col-12 p-2">
          <h1 class="font-weight-bold text-primary mb-2">Mes projets</h1>
          <div>

            <h2>Plateforme d'apprentissage ludique (en cours)</h2>
            <p><em>Depuis Mars 2020</em></p>
            <img src="https://picsum.photos/id/62/1000/500" alt="Random photo" class="rounded float-none float-sm-left d-sm-inline d-block mx-auto mx-sm-2 mb-3" width="50%" height="50%">
            <p class="text-justify" style="text-indent: 3rem;">Mise en place d'une plateforme d'apprentissage virtuelle permettant d'accompagner l'autoformation aux langues, aux sciences et à la création.</p>
            <p class="text-justify" style="text-indent: 3rem;">Cet accompagnement se fait pour chaque cours à travers une série de vidéos
              expliquant les motivations et les applications des thématiques abordées dans un module, par des explications précises et
              simples des notions abordées, en s'appuyant sur des supports visuels, mais également par des supports d'évaluation ludiques
              (quizz, mises en situation visuelles, résolution de problèmatiques à travers un jeu) pour les étudiants qui le souhaitent.
            </p>
            <p class="text-center"><a class="btn btn-primary" routerLink="portfolio" role="button">En savoir plus</a></p>
            <hr class="mt-5" style="clear:both;">
          </div>
          <div>
            <h2>Prototype d'un jeu de plateau de gestion (en cours)</h2>
            <p><em>Depuis Septembre 2019</em></p>
            <img src="https://picsum.photos/id/63/1000/500" alt="Random photo" class="rounded float-none float-sm-right d-sm-inline d-block mx-auto mx-sm-2 mb-3" width="50%" height="50%">
            <p class="text-justify" style="text-indent: 3rem;">Conception d'un jeu de plateau portant sur la gestion d'une communauté autnome. Je réalise ce projet avec une graphiste talentueuse.</p>
            <p class="text-center"><a class="btn btn-primary" routerLink="portfolio" role="button">En savoir plus</a></p>
            <hr class="mt-5" style="clear:both;">
          </div>
          <div>
            <h2>Application de suivi d'entraînement sous la demande de la FFCK (JO 2024) (en cours)</h2>
            <p><em>Mars 2020</em></p>
            <img src="https://picsum.photos/id/92/1000/500" alt="Random photo" class="rounded float-none float-sm-left d-sm-inline d-block mx-auto mx-sm-2 mb-3" width="50%" height="50%">
            <p class="text-justify" style="text-indent: 3rem;">Réalisation d'une site application permettant de faciliter le suivi de l'entraînement d'athlètes en préparation pour les Jeux Olympiques de 2024.</p>
            <p class="text-justify" style="text-indent: 3rem;">Cette année a été consacrée à l'étude de faisabilité d'un tel projet, projet réalisé pour la <em>Fédération Française de Canoë-Kayak</em>.</p>
            <p class="text-center"><a class="btn btn-primary" routerLink="portfolio" role="button">En savoir plus</a></p>
            <hr class="mt-5" style="clear:both;">
          </div>

          <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
            <label class="btn btn-secondary disabled">
              <a routerLink="portfolio" class="text-white">&lsaquo;</a> <!--href="./portfolio.html?page=0" -->
            </label>
            <label class="btn btn-secondary">
              <a routerLink="portfolio" class="text-white">&rsaquo;</a><!--href="./portfolio.html?page=2" -->
            </label>
          </div>

        </section>
    </div>
  </main>