<main class="row no-gutters">
    <aside class="bg-secondary text-white col-12 col-sm-4 order-12 order-sm-1 p-2">
        <h1>Compétences</h1>
        <div class="border-top border-white">
            <img class="d-block mx-auto my-2" src="assets/img/badges/badge_programming.png" alt="Badge programmation">
            <h2>Programmation</h2>
            <ul class="list-unstyled pl-1">
                <li class="skill_item">C++</li>
                <li class="skill_item">C</li>
                <li class="skill_item">Java</li>
                <li class="skill_item">Python</li>
                <li class="skill_item">Développement web
                    <ul class="list-unstyled pl-1">
                        <li class="skill_details">JavaScript</li>
                        <li class="skill_details">PHP</li>
                        <li class="skill_details">XML/CSS</li>
                        <li class="skill_details">MySQL/PostgreSQL/Oracle</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="border-top border-white">
            <img class="d-block mx-auto my-2" src="assets/img/badges/badge_languages.png" alt="Badge langues">
            <h2>Langues</h2>
            <ul class="list-unstyled pl-1">
                <li class="skill_item">Langues maternelles</li>
                <li class="skill_details">Français, créole réunionnais</li>
                <li class="skill_item">Courant</li>
                <li class="skill_details">Anglais, Espagnol</li>
                <li class="skill_item">Connaissances de bases</li>
                <li class="skill_details">Japonais, Italien, Néerlandais</li>
            </ul>
        </div>
        <div class="border-top border-white">
            <img class="d-block mx-auto my-2" src="assets/img/badges/badge_personal.png" alt="Badge activités personnelles">
            <h2>Ativités personnelles</h2>
            <ul class="list-unstyled pl-1">
                <li class="skill_item">Guitare</li>
                <li class="skill_details">Depuis 2015</li>
                <li class="skill_details">Jam, concerts (solos &amp; groupes)</li>
                <li class="skill_item">Ecriture</li>
                <li class="skill_details">Projets personnels,</li>
                <li class="skill_details">Concours de nouvelles</li>
                <li class="skill_item">Escalade en compétition</li>
                <li class="skill_details">Depuis 2018</li>
                <li class="skill_details">Compétitions interuniversitaires</li>
            </ul>
        </div>
    </aside>
    <section id="resume_body" class="bg-white col-12 col-sm-8 order-1 order-sm-12 p-2">
        <h1>Sadry CHEYNET-SOUBOU</h1>
        <div class="row no-gutters contact_details border-top border-secondary">
            <div class="col-6">
                <div class="contact_item">
                    <img class="float-left contact_icon my-4" src="assets/img/icons/adress_icon.png" alt="Icône localisation">
                    <p>Allée des Techniques Avancées,<br>Apt. E113, Bat. E,<br>91120, Palaiseau</p>
                </div>
            </div>
            <div class="col-6">
                <div class="contact_item">
                    <img class="float-left contact_icon" src="assets/img/icons/phone_icon.png" alt="Icône téléphone">
                    <p>(+33) 6 95 90 20 96</p>
                </div>
                <div class="contact_item">
                    <img class="float-left contact_icon" src="assets/img/icons/email_icon.png" alt="Icône email">
                    <p>sadry.cheynet-soubou@ensta.fr</p>
                </div>
            </div>
        </div>
        <div class="content_category border-top border-secondary">
            <h2>OBJECTIF</h2>
            <p style="text-indent: 20px;">Élève ingénieur de deuxième année en <em>Sciences et Technologie de
                l’Information et de la Communication</em> à l’ENSTA Paris, je recherche actuellement un
                stage de recherche de 44 jours dans le domaine de l’analyse ou de la synthèse
                sonore, de préférence musicale, au sein des laboratoires de l’IRCAM.</p>
        </div>
        <div class="content_category border-top border-secondary">
            <h2>EDUCATION</h2>
            <h3>Formation au diplôme d'ingénieur | ENSTA Paris</h3>
            <h4>2019-2020 : <em>Sciences et Technologie de l'Information et de la Communication</em></h4>
                <p>Spécialisation en <strong>Ingénierie informatique</strong>, mineure Logiciels et Cybersécurité
                Information et réseau, Traitement du signal, Programmation parallèle…</p>
                <p>Introduction à la Gestion de projet.</p>
                <p>Cours optionnels en <em>Ecriture de Nouvelle</em> et <em>Représentation de l’altérité dans l’art</em>.
                <br>Semaine de cours intensifs aux Mines de Paris en <em>Musique, Sciences, Histoire</em></p>
            <h4>2018-2019 : Formation généraliste</h4>
            <p><strong>Informatique</strong>, Programmation, Mathématiques, Mécanique, Physique théorique</p>
            <p>Cours optionnels en <em>Improvisation théâtrale</em>, en anglais et en français.</p>

            <h3>Classe Préparatoire aux Grandes Écoles| Lycée Joffre (Montpellier)</h3>
            <p class="date_details">2015 – 2018</p>

            <h3>Baccalauréat Scientifique (Spécialité <em>Informatique et Sciences du Numérique</em>)
            <br>Lycée Ambroise Vollard (Île de la Réunion)</h3>
            <p class="date_details">2012 – 2015</p>
            <p><em>Mention Très bien et Féliciations du jury</em>.</p>

            
            <h2>EXPERIENCE</h2>
            <h3>Projet d'ingénieur en équipe | <em>Sciences 2024</em> pour les Jeux Olympiques</h3>
            <p class="date_details">2019 – 2020</p>
            <p class="font-italic">Améliorer l'entraînement d'athlètes pour les Jeux Olympiques de Paris en proposant
                une application facilitant leur suivi. Partenariat avec la Fédération Nationale de
                Canoë et de Kayak (FFCK).</p>

            <h3>Responsable Communication | Association Culturelle de l'ENSTA</h3>
            <p class="date_details">2019 (1 an)</p>
            <p class="font-italic">Promouvoir des évènements culturels dans Paris. Donner l'opportunité aux étudiants
                de découvrir d'autres cultures en organisant des séjours à travers différentes villes européennes.</p>

            <h3>Stage opérateur | Assistant Chef de Projet
            <br><em>Pôle de Développement Social Territorialisé</em>, Mairie de Saint-Pierre (Réunion)</h3>
            <p class="date_details">2019 (1 mois)</p>
            <p class="font-italic">Analyse et correction de bases de données pour le Pôle de Développement Social
                Territorialisé de la ville. Implémentation et développement de mesures visant à
                réduire la fracture économique et sociale au sein du territoire.</p>
        </div>
    </section>
</main>